.custom-checkbox {
    // Adjust width and height as needed
    width: 20px;
    height: 20px;
  
    // Add additional styles as desired
    border: 2px solid #000; // Example border style
    border-radius: 5px; // Example border radius
    // Add any other custom styles here
  }

.custom-title{
    font-size: 20px;
}