<div class="row">
  <div class="col-md-5 mt-5">
    <% if notice %>
      <div class="alert alert-success alert-dismissible fade show" role="alert" data-controller="flash" data-flash-target="notice">
        <%= notice %>
        <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
      </div>
    <% end %>
    
    <% if alert %>
      <div class="alert alert-danger alert-dismissible fade show" role="alert" data-controller="flash" data-flash-target="alert">
        <%= alert %>
        <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
      </div>
    <% end %>
  </div>
</div>
